<div class="card-action">
    <div class="blogheading">Introduction:
    </div>
    <p>Client side application is a software that is running on computers and create requests to servers.
    </p>
    <div class="blogheading">Thick and thin client applications:
    </div>
    <p>Client applications are of 2 types based on frequency of requests made to server.
        <br/>
        <i>Thin client</i> applications are frequent requestors to servers. Browser is best example and is a classic thin client application.
        <br/>
        <i>Thick client</i> applications does most of the processing and contacts server occasionally. Mobile apps are best examples for thick client application.
    </p>
    <div class="blogheading">Framing request to server:
    </div>
    <p>Client applications is written in languages that would provide HTTP request creators. There are 4 basic and 5 more types of requests as explained in previous posts. <br/> GET requests are favoured by several as it is simple to use and implement. However,
        PUT and POST are also equally important. DELETE is generally not used citing security vulnerability. Due to its importance, HTTP requests are in separate blog.<br/> Most of these requests are asynchronous which means developer needs to handle
        application behaviour until server responds. Hence, server calls mostly use multithreading at client side.
    </p>
    <div class="blogheading">Processing response:
    </div>
    <p>Response from server has its own mime type defined. Response can vary from simple JSON to video or audio binary information. Processing of response starts by looking at the response code. Based on this code, response type and response data are evaluated.
        <br/> Browsers (thin client) also has caching to reduce load to server. Similar to caching we have techniques (like offline storage, session storage, cookies), that can reduce number of calls made to server.
    </p>
    <div class="blogheading">Application logics in client:
    </div>
    <p>Recently, most of the validation computation are done in client side application. Servers seems to only handle data. In some cases, client application directly saves information to database servers. <br/> AngularJS is one such powerful front-end language
        that yields client side multi-layer application. JSON medium and REST services has unfolded new possibilities in client side applications.
    </p>

</div>