<div class="card-action">
    <div class="blogheading">Introduction:
    </div>
    <p>JavaScript Object Notation or JSON is a way to represent data. It is heavily used in the place of XML for data exchange.
    </p>
    <div class="row">
        <div class="col s7">
            <div class="blogheading">Basic Structure:
            </div>

            <p>JSON can be of one the following 2 kinds: Object Key : value pair surrounded by {{ '{' }} , {{ '}' }} Array Comma separated values<br/> Object and Array can contain another object or array as child element. Any XML can be represented in JSON.
            </p>
        </div>
        <div class="col s5">
            <img style="width:100%" src='../../assets/img/01052018_1.png' />
        </div>
    </div>
    <div class="blogheading">Uses:
    </div>
    <p>JSON is lightweight and simple, it is used as output for services that is consumed by mobile applications. JSON is primarily used in javascripts upon interaction with services. Javascript has a JSON parser which can quickly parse response construct.
        <br/> Image: Images can be encoded into text using base64 encoding and result text can be pushed into JSON construct.<br/> Binary data: BSON is Binary JSON helps to encode large amount of data to JSON Strings and decode the same in client end.
        It is supported by most of the programming languages</p>
    <div class="blogheading">Serialization and deserialization:
    </div>
    <p>Converting text to JSON and vice-versa is supported by most of the programming languages. Even though JSON is text-based notation, it is advisable to use framework and libraries to avoid serious errors</p>
    <div class="blogheading">Consuming JSON:
    </div>
    <p>With consumption of JSON, basic HTTP service methods became popular. It is important to understand the basics of HTTP requests. Client application developers should be aware of all HTTP methods like GET, POST, PUT and DELETE</p>
    <div class="blogheading">XML Vs JSON:
    </div>
    <p>JSON did not completely replace XML. XML is primary way to communicate between systems and application layers. XML’s complexity automatically attributes to security between transactions.</p>
    <div class="references">
        <i>References:</i></div>
    <ul class="uiRef">
        <li class="liRef">http://mobile.cs.fsu.edu/converting-images-to-json-objects</li>
    </ul>
</div>