<div class="card-content teal lighten-1 " style="text-align: center; padding:10px ">
    <span class="card-title   white-text"> Server-side applications
  </span>
</div>
<div class="card-action">
    <div class="blogheading">Introduction:
    </div>
    <p>Service side application is a software that is running on servers.
    </p>
    <div class="blogheading">Servers and contacting them:
    </div>
    <p>Servers are applications running on powerful computer that can be communicated through a protocol. Each call is a request. Server responds to each request. Based on the request sent, a certain operation is performed and proper response is sent back to requestor. 
<br/>
Most commonly used protocol is HTTP and it has 4 main types of requests (POST, GET, PUT and DELETE). A server when operational is known to be online.
    </p>
    <div class="blogheading">Endpoints:
    </div>
    <p>To receive a request, servers would have an entry point exposed via network, otherwise known as endpoint. Each server has a unique IP as their address over network and can have its ports exposed. IP and port normally make up an endpoint.</p>
    <div class="blogheading">Server threads:
    </div>
    <p>Server application can host/deploy other applications. A thread in server is the application instance that could respond to a request at given endpoint. Application instance has coder’s function that is written using server side languages (C#/java) and runs on its platform (JVM/CLI). There are concepts when implemented wisely would optimize server potential to its fullest . 
<br/>
Server applications comes in several names like microservices, web services, rest services, WCF services, JSON services, API endpoints, web application, etc… Server applications can also have user interface in them.
</p>
    <div class="blogheading">User Interface in servers:
    </div>
    <p>Servers can also host user forms, reports and other screens. These can be run only on a special software called Browsers in client computers. Browsers takes care of requesting and rendering user interface or web pages. 
<br/>
Originally, UI was part of server applications which involved overhead of postbacks. However, with new client technologies (like angularjs, ajax, HTML5 / Css3 and JSON) have more processing power which reduced the need for server to host presentation layer or UI layer in itself.
<br/>
Problem of postback is resolved with advent of asynchronous AJAX calls using robust client-side applications.
</p>
    <div class="blogheading">XML Vs JSON:
    </div>
    <p>JSON did not completely replace XML. XML is primary way to communicate between systems and application layers. XML’s complexity automatically attributes to security between transactions.</p>
    <div class="references">
    <i>References:</i></div>
    <ul class="uiRef">
        <li class="liRef">https://www.seguetech.com/client-server-side-code/</li>
 <li class="liRef">https://spin.atomicobject.com/2015/04/06/web-app-client-side-server-side/ </li>
    </ul>
</div>