<nav>
      <div class="nav-wrapper green darken-3">
        <div class="row">
          <div class="col s12 ">
      <a href="#!" class="brand-logo" style="padding-left: 10px;"><i class="medium material-icons">language</i>BrainFeaster </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="mailto:sanjai.com@gmail.com"><i class="small material-icons">email</i></a></li> 
        <li><a href="https://www.linkedin.com/in/sanjai-prabahar/"><i class="small material-icons">perm_contact_calendar</i></a></li>
        <li><a href="https://github.com/sanjaipk"><i class="small material-icons">code</i></a></li>
      </ul>
    </div>
    </div>
  </div>
    
    </nav>