 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
<div id="menu">
    <ul>
        <li>
            <h2>Navigation Menu</h2>
            <ul>
                <li><a href="" title="">Option 1</a>
                    <ul>
                        <li><a href="" title="">Sub Option 1</a></li>
                        <li><a href="" title="">Sub Option 2</a></li>
                        <li><a href="" title="">Sub Option 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="" title="">Option 2</a>
                    <ul>
                        <li><a href="" title="">Sub Option 1</a></li>
                        <li><a href="" title="">Sub Option 2</a></li>
                        <li><a href="" title="">Sub Option 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="" title="">Option 3</a>
                    <ul>
                        <li><a href="" title="">Sub Option 1</a></li>
                        <li><a href="" title="">Sub Option 2</a></li>
                        <li><a href="" title="">Sub Option 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>