<div class="card-action">
    <div class="blogheading">Introduction:
    </div>
    <p>Web services are server applications that does not have user interface. Instead visual interface, a response is processed back.
    </p>
    <div class="blogheading">A B C of Web service:
    </div>
    <p>Each web service has an address (A) which is a combination of IP and port (generally aliased using to an URL). Web service would be callable with certain protocol (HTTP, TCP, etc..). Binding (B) tells client on how to connect to services. Web service
        also its input data structure. also known as contract © of web service.
    </p>
    <div class="blogheading">WSDL and WADL:
    </div>
    <p>WSDL/WADL are special XML that are used to represent the web service definitions. Definitions essentials contains ABCs of the web service</p>
    <div class="blogheading">SOAP services:
    </div>
    <p>SOAP is acronym for Simple Object Access Protocol. It is a messaging standard used in communication between 2 softwares. It is basically an XML sent over HTTP requests and responses. SOAP requests are HTTP POST calls made with SOAP message request
        body. Response would have content type as text/xml.
    </p>
    <div class="blogheading">REST services:
    </div>
    <p>Rest is acronym for REpresentational State Transfer. Everything is a resource in REST and is identified using URI (Uniform Resource Identifier ). Here, CURD can be analogized to PUT, POST, GET, DELETE operations of HTTP. Also, PUT and DELETE are called
        Idempotent Operations as it does same thing whenever called.
    </p>
    <div class="blogheading">Microservices:
    </div>
    <p>A new style of web services. It is basically building applications as suites of services. Services here would be independently deployed and can be managed by different teams. Componentization via services and designing for failures are key approaches
        to enable microservices</p>
    <div class="references">
        <i>References:</i></div>
    <ul class="uiRef">
        <li class="liRef">http://www.itprotoday.com/microsoft-visual-studio/choosing-right-web-service-binding
        </li>
        <li class="liRef">shttps://www.tutorialspoint.com/wsdl/wsdl_quick_guide.htm</li>
    </ul>
</div>