<div class="card-content teal lighten-1 " style="text-align: center; padding:10px ">
  <span class="card-title   white-text"> Classes Explained
  </span>
</div>
<div class="card-action">
  <div class="blogheading">Introduction:
  </div> 
  <p>Class is a computational template defined by translating real world entities. Person, Object or anything (that can be described) can also be translated to a class.
  </p>

  <div class="row">
    <div class="col s7">
  <div class="blogheading">Creation:
  </div> 
  <p>
    Let's try to create class with a set of perceptible real word items give below:
    Place:  Athens, New york, Moscow
    Event: Birth, Marriage, Tour, Party
    People: Gandhi, Edison, Tesla
    It is easy to create template of an item from its instances. Instances derives its identity from its properties and behaviour. Collecting shared property/behaviour among instances would yield our template (Class).
  </p> 
    </div>
    <div class="col s5">
        <img style="width:100%" src='../../assets/img/01022018_1.png'/>
    </div>
    </div>
    <div class="row">
      <div class="col s7">
  <div class="blogheading">Representation:
  </div> 
  <p>Classes are represented initially as class diagram. It is scientific representation of a class prior to coding or programming. Coder would translate this diagram to program using language (C#, Python, etc..) of his choice.

Generally, target Audience for this representation is coders and it helps if we give some additional information in class diagram. </p>
</div>
<div class="col s5">
    <img style="width:100%" src='../../assets/img/01022018_2.png'/>
</div>
</div>


These include
  
  
  <ul class = "collection">
    <li  class = "collection-item">
      <i>Property (Noun)
      </i> : 
      <br/>
how a property is stored for further processing - (data structure)
scope of the property
    </li>
    <li  class = "collection-item">
      <i>Operation (Verb)
      </i> : 
      <br/>set of operations that can give a class a behaviour. 
    </li>
  </ul>

  <div class="blogheading">Importance:
  </div> 
  <p>Everything is an object in computing. Any object is instance of some class. It can either provide data or behave. Whole computer paradigm rests on classes. <br/>

Over years scientists came up with algorithms, design patterns, programming languages and many more to convert real world entities to simple computational representation of classes.

  </p>

  <div class="references">
    <i>References:
    </i>
  </div> 
  <ul class="uiRef">
    <li class="liRef">https://stackoverflow.com/questions/6295148/what-is-the-opposite-of-oop 
    </li>
  </ul>
</div>
