<div class="card-action">
    <div class="blogheading">Introduction:
    </div>
    <p>XML (eXtensible Markup Language) is universal format to represent information. It is supported by all programming languages. It is mainly used to store and transport data.
    </p>
    <div class="row">
        <div class="col s6">
            <div class="blogheading">Basic Format:
            </div>
            <p>Before putting data into XML, we need to define the schema for the XML. Schema is the template or skeleton of the XML.
                <br/>XML template consists of tags/nodes/elements and attributes. Nodes can have subnodes. Attributes contains actual data. Top most element is called root element.
            </p>
        </div>
        <div class="col s6">
            <img style="width:100%" src='../../assets/img/01042018_1.png' />
        </div>
    </div>
    <div class="blogheading">Collections, Class and XML:
    </div>
    <p>Collections are set of objects of class. XML essentially is a representation of this collection. Properties in a class can be either an element or attribute in XML. So, any object of a class can be pushed into XML. The process of converting class
        object into XML is serialization and reverse is deserialization</p>
    <div class="blogheading">Interaction between systems:
    </div>
    <p>XML became common language for systems to communicate over web. Systems are developed in various languages like java or c# or python. However, when such system wants to communicate with others; XML is the standard language used. However, this involves
        serialization and deserialization of XML/Objects.</p>

    <img style="width:100%" src='../../assets/img/01042018_2.png' />
    <div class="blogheading">Uses of XML:
    </div>
    <ul class="collection">
        <li class="collection-item">
            Used to define WSDL (web service definitions).
        </li>
        <li class="collection-item">
            Web pages can be created by defining XSLT for XML.
        </li>
        <li class="collection-item">
            Electronic data interchange (EDI) is done using XML
        </li>
    </ul>
    <div class="references">
        <i>References:
    </i>
    </div>
    <ul class="uiRef">
        <li class="liRef">http://www.sis.pitt.edu/mbsclass/standards/fischer/XMLUses.html</li>
        <li class="liRef">http://www.xmlmaster.org/en/article/d01/c10/</li>
    </ul>
</div>